.navbar-container {
    display: flex;
    justify-content: center;
    text-align: center;
    /* height: 40px; */
    background-color: black;
    color: white;
    /* padding: 50px 0px 50px 0px; */
}
.option {
    width: 20%;
    height: 100px;
    line-height: 5;
}
.option:hover {
    cursor: pointer;
    background-color: gray;
}