.proj-container {
    margin-top: 20px;
    border: 5px solid black;
}
.project-card {
    text-align: center;
    width: 15%;
    border: 5px solid red;
}
.project-card .project-image {
    height: auto;
    width: 200px
}