.proj-container {
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.proj-container .proj-list {
    display: flex;
    margin: 5px;
}
.project-card {
    text-align: center;
    width: 15%;
    border: 5px solid red;
    margin: 5px;
}
.project-card .project-image {
    height: auto;
    width: 200px
}